@media (max-width:1440px){
}
@media (max-width:960px){
}
@media (max-width:767px){
}
@media (max-width:360px){
}
* {
	box-sizing: border-box;
}

@font-face {font-family: "Cera"; 
	src: url("../fonts/CeraPro-Regular.woff"); 
	
	}
	@font-face {font-family: "Cera bold"; 
		src: url("../fonts/CeraPro-Bold.woff"); 
		
		}


/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {

  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

.body {
	margin: 0, 0;
	margin-top: 0;
	padding-top: 0;
	line-height: 1;
	font-size: 16px;
	color: #000;
	font-family: cera;
	
}
.wrapper {
	min-height: 100%;
	
}
._container {
	font-family: cera;
	max-width: 1410px;
	
}
.header{
	padding: 0 10% 0 10%;
	
}
.header__container{
	position: relative;
}
.online{
	font-family: cera;
}
.ibg{
	position: relative;
}
._ibg img{
	position: absolute;
	width: 100%;
	height: 1055px;
	object-fit: cover;
	object-position:top;
	
}
.header_image{
	position: relative;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
}
.img_block{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0 auto;
}

.img_blur{
	position: absolute;
	-webkit-backdrop-filter: blur(40px);
    -o-backdrop-filter: blur(40px);
    -moz-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background:rgba(255, 250, 250, 0.85);
	width: 44%;
	height: 1056px;
	z-index: 5;
}
.img_white{
	position: absolute;
	background: #fff;
	width: 24.5%;
	height: 1056px;
	right: 0;
	top: 0;
	
}

.bonum{
	position: relative;
	font-size: 18px;
	font-weight: 600;
	z-index: 1;
	
}
.bonum::before{
	content: 'b';
	left: -15px;
	top:2.5px;
	transform: rotate(-90deg);
	position: absolute;
}
.logo {
	display: flex;
	justify-content: space-between;
	padding: 50px 0;
}
.header_logo{
	text-decoration: none;
	color: #000;
	font-family: times-new-roman;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 0.45em;
	z-index: 1;
}
.brand{
	width: 470px;
	margin-top: 12%;
	font-family: Cera bold;
	font-weight: 900;
	font-size: 72px;
	line-height: 100%;
	letter-spacing: 0.02em;
	color: #000000;
	z-index: 6;
}
.of_women{
	width: 100px;
	height: 100%;
	margin-top: 60px;
	margin-left: -25px;
	transform: rotate(-90deg);
	text-align: right;
	font-size: 14px;
	font-weight: 800;
}
.online{
	position: absolute;
	width: 100%;
	height: 100%;
	padding-left: 150%;
	padding-top: 50%;
	height: 20px;
	transform: rotate(90deg);
	text-align: center;
}

.icons_menu{
	display: grid;
	grid-template-columns: 9% 21% 0% 70%;
	grid-template-rows: 30px;
	margin-top: 450px;
}

@media (max-width:1440px){
	.brand{
		margin-top: 10%;
		font-size: 68px;
	}
	.logo{
		padding: 32px 0;
	}
	.icons_menu{
		margin-top: 20%;
	}
	._ibg img{
		height: 732px;
	}
	.img_blur{
		height: 732px;
	}
	.img_white{
		height: 732px;
	}
}
@media (max-width:1160px){
	.icons_menu{
		margin-top: 260px;
	}

}
@media (max-width:960px){
	.header{
		padding: 0 70px 0 40px;
	}
	.brand{
		margin-top: 70px;
		font-size: 48px;
		width: 300px;
	}
	._ibg img{
		height: 530px;
	}
	.img_blur{
		height: 530px;
	}
	.img_white{
		height: 530px;
	}	
	.icons_menu{
		margin-top: 130px;
	}
		
}
@media (max-width:769px){
	.brand{
		margin-top: 50px;
		font-size: 38px;
		width: 200px;
	}
	.header{
		padding: 0 10% 0 5%;
	}
	.bonum{
		font-size: 10px;
	}
	.bonum::before{
		left: -8px;
		top:2px;
	}
	.of_women{
		font-size: 10px;
		width: 60px;
	}
}
@media(max-width:470px){
	.brand{
		display: none;
		}
	.of_women{
		display: none;
	}
	.icons_menu{
		margin-top: 400px;
	}
}
@media (max-width:360px){
	
	.header_logo{
		opacity: 0;
	}
	.icons_menu{
		grid-template-columns: 20% 30% 40% 10%;
	}
		
}

.colour__container{
	position: relative;
	margin: 0 auto;
	z-index: 7; 
	margin: 0 10% 0 10%;
}
.colors{
	margin-top: 100px;
	text-align: center;
	
}
.colors_grid{
	display: grid;
	grid-template: 1fr 2fr 1fr 1fr 1fr 1fr/1fr 1fr 1fr 1fr 2fr 1fr 1fr 2fr;
	text-align: left;
	font-family: Cera Bold;
	
	
}
.color_item1{
	align-self: start;
	justify-self:start;
	font-size: 16px;
	transform: rotate(-90deg) translateX(-15px);
	grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.color_item2{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 132.4%;
	grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
}
.color_item3{
	font-size: 56px;
	line-height: 125%;
	text-align: left;
	padding: 50px 0 0 50px;
	grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
.color_item4{
	font-size: 14px;
	font-weight: 800;
	line-height: 100%;
	align-self: end;
	justify-self:end;
	transform: rotate(-90deg) translateX(40px);
	grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
}
.color_item5{
	font-family: cera;
	font-size: 16px;
	grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}
.color_item6{
	
	grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;
	text-align: right;
	padding-right: 20px;
}
.color_box1{
	content: ' ';
	display: inline-block;
	width: 280px;
	height: 60px;
	background: #9A0034;
}
.color_item7{
	grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
}
.color_box2{
	content: ' ';
	display: inline-block;
	width: 130px;
	height: 60px;
	background: #D7969E;
	margin-right: 30px;
}
.color_item8{
	grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}
.color_item8 .color_box2{
	background: #898989;
}
.color_item9{
	grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 6;
}
.color_item9 .color_box2{
background: #E8D8D9;
}
.color_item10{
	grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 6;
}
.color_item10 .color_box2{
	background: #DEDCDC;
}
.color_item11{
	grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
}
.color_item11 .color_box2{
	background: #B7b7b7;
}
.color_item12{
	grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
}
.color_item12 .color_box2{
	background: #000;
}
.color_item13{
	line-height: 100%;
	align-self: end;
	justify-self:end;
	transform: rotate(-90deg) translateX(40px);
	grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 7;
}

@media (max-width:1440px){
	.color_item2{
		transform: translateX(50px);
	}
	.color_item3{
		grid-column-start: 2;
		padding-left: 0;
	}
	.color_item5{
		padding-left: 90px;
	}
	

}
@media (max-width:1120px){
	.color_box1{
		width: 210px;
	}
	.color_box2{
		width: 80px;
	}
	.color_item3{
		grid-column-end: 6;
	}
}
@media (max-width:960px){
	.colour__container{
		margin: 10px;
	}
	.colors_grid{
		grid-template: 1fr 1.5fr 1fr 1fr 1fr 1fr/1fr 1fr 1fr 1fr 2fr 1fr 1fr 2fr;
		font-size: 12px;
	}
	.color_item2{
		transform: translateX(0px);
		padding-left: 30px;
		grid-column-end: 9;
	}
	.color_item3{
		grid-column-end: 6;
		font-size: 36px;
		line-height: 120%;
	}
	.color_item5{
		padding-left: 40px;
		grid-column-end: 7;
	}
	.color_item6{
		padding-right: 5px;
	}
	.color_item10 .color_box2{
		margin-right: 5;
	}

}
@media (max-width:767px){
	.colors_grid{
		grid-template: 1fr 1fr 1fr 1fr 1fr 1fr/1fr 1fr 1fr 1fr 2fr 1fr 1fr 2fr;
	}
	.color_box1{
		width: 150px;
	}
	.color_box2{
		height: 50px;
		width: 70px;
	}
	.color_item2{
		grid-column-start: 4;
		font-size: 12px;
		padding: 5px;
	}
	.color_item3{
		font-size: 30px;
		padding-top: 10px;
	}
	.color_item5{
		padding-left: 10px;
		font-size: 12px;
	}
}
@media (max-width:662px){
	.colors_grid{
	grid-template: repeat(10,1fr)/repeat(9,1fr);
	padding: 1%;
	}
	.colors h2{
		padding: 30px 10px;
		text-align: left;
		font-family: cera;
		font-size: 22px;font-weight: 500;
	}
	.item_color{
		min-width: 50px;
	}
	.color_item2{
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 2;
		grid-column-end: 10;
	}
	.color_item1{
		font-size: 12px;
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 10;
	}
	.color_item3{
		grid-row-start: 3;
		grid-row-end: 4;
		grid-column-start: 2;
		grid-column-end: 10;
	}
	.color_item4{
		font-size: 12px;
		grid-row-start: 5;
		grid-row-end: 6;
		grid-column-start: 9;
		grid-column-end: 10;
	}
	.color_item5{
		grid-row-start: 4;
		grid-row-end: 5;
		grid-column-start: 6;
		grid-column-end: 10;
	}
	.color_item6{
		grid-row-start: 6;
		grid-row-end: 7;
		grid-column-start: 6;
		grid-column-end: 9;
	}
	.color_item7{
		margin-left: 10px;
		grid-row-start: 7;
		grid-row-end: 8;
		grid-column-start: 5;
		grid-column-end: 8;
	}
	.color_item8{
		grid-row-start: 9;
		grid-row-end: 10;
		grid-column-start: 1;
		grid-column-end: 4;
	}
	.color_item9{
		grid-row-start: 7;
		grid-row-end: 8;
		grid-column-start: 3;
		grid-column-end: 5;
	}
	.color_item10{
		grid-row-start: 8;
		grid-row-end: 9;
		grid-column-start: 8;
		grid-column-end: 10;
	}
	.color_item11{
		grid-row-start: 10;
		grid-row-end: 11;
		grid-column-start: 4;
		grid-column-end: 6;
	}
	.color_item12{
		grid-row-start: 10;
		grid-row-end: 11;
		grid-column-start: 7;
		grid-column-end: 9;
	}
	.color_item13{
		grid-row-start: 10;
		grid-row-end: 11;
		grid-column-start: 8;
		grid-column-end: 10;
	}

}
@media (max-width:360px){
	.color_item4{
		transform: rotate(-90deg) translateX(40px) translateY(20px);
	}
	.color_item13{
		transform: rotate(-90deg) translateX(40px) translateY(20px);
	}
}

.footer {
}
.footer__container {
	position: relative;
	margin: 0 auto;
	z-index: 7; 
	margin: 200px 10% 0 10%;
}
.footer_grid {
	display: grid;
	grid-template: 800px/5% 35% 10% 25% 25%;
}
.virna_gr {
	position: relative;
	width: 50%;
	height: 50%;
	margin: auto;
	border-radius: 50%;
	background:#d78969;
	filter: blur(200px);
	

}
.virna{
	text-transform: uppercase;
	font-family: 'Times New Roman';
	letter-spacing: 0.3em;
	transform: rotate(90deg)translate(-300px);
	font-size:6vw;
	align-self: end;
	justify-self:end;
	background: -webkit-radial-gradient(#dd977b, #ffffff);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.thank {
	position: relative;
	align-self: center;
	font-family: cera bold;
	font-size: 72px;
}
.visit {
	position: absolute;
	transform: rotate(-90deg);
	top: 155px;
	left: -50px;
	font-size: 18px;
}

@media (max-width:1440px){
	.footer_grid {
		grid-template-rows: 700px;
	}
}
@media (max-width:960px){
	.footer_grid {
		grid-template-rows: 600px;
	}
	.thank{
		font-size: 48px;
	}
	.visit{
		font-size: 13px;
		top: 100px;
	}
}
@media (max-width:767px){
	.footer_grid {
		grid-template-rows: 400px;
	}
	.virna{
		transform: rotate(90deg)translate(-200px);
	}
	.virna_gr{
		filter: blur(100px);
	}
	.thank{
		font-size: 40px;
	}
	.visit{
		font-size: 10px;
		top: 85px;
		left: -35px;
	}
}
@media (max-width:360px){
	.footer_grid {
		grid-template-rows: 200px;
	}
	.virna{
		transform: rotate(90deg)translate(-100px);
	}
	.virna_gr{
		filter: blur(50px);
	}
	.visit{
		font-size: 8px;
		left: -25px;
	}
	
}
